<li>
    <div class="flex font-serif">
        <form class="flex-auto p-6">
            <div class="flex flex-wrap items-baseline">
                <h1 class="w-full flex-none mb-3 text-2xl leading-none text-slate-900">
                    {{name}}
                </h1>
                <div class="flex-auto text-lg font-medium text-slate-500">
                    {{allocatable_mem}} allocatable.
                </div>
                <div class="text-xs leading-6 font-medium uppercase text-slate-500">
                    cluster scoped
                </div>
            </div>
        </form>
    </div>
</li>