<li>
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">{{pod_name}}</h2>
            <p>{{pod_status}}</p>
            <p>in <em>{{pod_namespace}}</em></p>
            <p>on node <em>{{node_name}}</em> -- {{allocatable_mem}} allocatable.</p>
        </div>
    </div>

<!--    <div class="rounded border-solid flex font-serif">-->
<!--        <form class="flex-auto p-2">-->
<!--            <div class="flex flex-wrap items-baseline">-->
<!--                <h1 class="w-full flex-none mb-3 text-2xl leading-none text-slate-900">-->
<!--                    {{pod_name}}-->
<!--                </h1>-->
<!--                <div class="flex-auto text-lg font-medium text-slate-500">-->
<!--                    {{pod_status}}-->
<!--                </div>-->
<!--                <div class="flex-auto text-lg font-medium text-slate-500">-->
<!--                    on {{node_name}} &#45;&#45; {{allocatable_mem}} allocatable.-->
<!--                </div>-->
<!--                <div class="text-xs leading-6 font-medium uppercase text-slate-500">-->
<!--                    {{pod_namespace}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
</li>