<div class="bg-white p-2 m-2 max-w-md rounded-xl shadow-md">
    <form class="flex-auto p-2">
        <div class="flex flex-wrap items-baseline">
            <h1 class="w-full flex-none mb-3 text-2xl leading-none text-slate-900">
               {{pod_name}}
            </h1>
            <div class="flex-auto text-lg font-medium text-slate-500">
                {{pod_status}}
            </div>
            <div class="flex-auto text-lg font-medium text-slate-500">
                on {{node_name}} -- {{allocatable_mem}} allocatable.
            </div>
            <div class="flex-auto text-xs leading-6 font-medium uppercase text-slate-500">
                namespace:{{pod_namespace}}
            </div>
            <div class="flex-auto text-xs leading-6 font-medium uppercase text-slate-500">
                <button  hx-confirm="Are you sure?" hx-delete="/pod/{{pod_namespace}}/{{pod_name}}" class="px-4 py-1 text-sm text-red-600 font-semibold rounded-full border border-red-200 hover:text-white hover:bg-red-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2">
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>